@import '../../variables.scss';


div.card {
    img.card-img {
        padding: 3%;
    }

    div.card-footer {
        width: 100%;

        h5 {
            color: $base-black;
            margin-bottom: 0;
        }
    
        p {
            margin-bottom: 0;
        }

        div.ratingAndFavorite {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;
    
            div.rating {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25rem;
    
                p {
                    margin-bottom: 0;
                }
            }
    
            div.favorite {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25rem;
    
                p {
                    margin-bottom: 0;
                }
            }   
        }
    }
}