@import '../../../variables.scss';

div.loginPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .leftContainer {
        width: 450px;
        margin: 20vh 15vw;
        background-color: #fff;
    
        h1 {
            text-align: left;
            font: $font-header;
            font-weight: bold;
        }

        div.content {
            display: flex;
            flex-direction: column;
            gap: 2.5vh 0;
            button {
                background-color: $base-blue;
                color: $base-white;
                font: $font-content;
                font-weight: bold;
                border: none;
                border-radius: $border-roundness-default;
                padding: 1rem;
                width: 100%;
            }
        }
    }

    .rightContainer {
        background-color: $base-blue;
        width: 30vw;
        height: 100vh;

        img {
            margin-top: 30vh;
            background-color: transparent;
        }
    }
    
}