@import '../../../variables.scss';

div.registerPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .leftContainer {
        width: 450px;
        margin: 20vh 15vw;

        h1 {
            text-align: left;
            font-weight: bold;
        }

        div.content {
            display: flex;
            flex-direction: column;
            gap: 2.5vh 0;
        }
    }
}