
section.promotion {
    h2 {
        text-align: center;
        color: black;
        font-size: 4rem;
        margin-top: 2rem;
    }
}

section.menu {
    h2 {
        text-align: center;
        color: black;
        font-size: 4rem;
        margin-top: 2rem;

    }

}